$dark-text: #283645;

$pink-text: #d22856;

$form-border: 2px solid #e5e5e5;

$mobile: 320px;

$tablet: 660px;

$desktop: 1200px;

$retina-dpi: 144dpi;

$retina-ppx: 1.5dppx;

$font-light: "Open Sans light", "Helvetica", sans-serif;

$font-bold: "Open Sans bold", "Helvetica", sans-serif;

$font-plain: "Open Sans", "Helvetica", sans-serif;
