.achievement__list-wrapper {
  width: 280px;
  padding-top: 41px;
  border: none;

  label {
    @include form-typography;
    display: block;
    padding-left: 70px;
    padding-bottom: 52px;
    line-height: 30px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    position: relative;
  }

  input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }

  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 38px;
    height: 38px;
    background: url("../img/icon-yes-pink.svg") center no-repeat;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
}

.achievement__list {
  padding-top: 23px;
}

.achievement__destroy label {
  padding-bottom: 31px;
}

@media (min-width: $tablet) {
  .achievement {
    margin-top: 44px;
    order: 4;
  }

  .achievement__list {
    padding-top: 13px;
  }

  .achievement__list-wrapper {
    width: 620px;
    border: 2px solid #e5e5e5;

    .form__text--pink {
      width: auto;
      padding: 0 32px;
      font-size: 14px;
    }

    label {
      padding-left: 120px;
      padding-bottom: 52px;
    }

    input[type="checkbox"] + label::before {
      top: -4px;
      left: 60px;
    }

    input[type="checkbox"]:checked + label::after {
      top: -4px;
      left: 60px;
    }
  }
}

@media (min-width: $desktop) {
  .achievement {
    margin-top: 46px;
  }

  .achievement__list-wrapper {
    width: 940px;
  }

  .achievement__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 184px;

    label {
      padding-left: 116px;
      padding-bottom: 53px;
    }
  }
}
