.apps__list {
  width: 280px;
  border: none;
  label {
    position: relative;
    @include form-typography;
    display: block;
    padding-left: 70px;
    padding-bottom: 45px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]+label::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0px;
    width: 41px;
    height: 41px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked+label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 15px;
    background-color: #d22856;
    border: 2px solid #d22856;
    border-radius: 50%;
  }
}

.apps__ios {
  padding-top: 18px;
}

.apps__windows label {
  padding-bottom: 32px;
}
