.banner {
  margin-top: -70px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center 0;
  background-size: cover;
}

.banner__inner-container {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.banner--gallery {
  padding-top: 99px;
  padding-bottom: 81px;
  background-position: center 0;
  background-size: auto;
}

.banner--form {
  padding-top: 99px;
  padding-bottom: 54px;
}

.banner__hand-picture {
  display: block;
  position: relative;
  padding-top: 465px;
}

.banner__hand-picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 257px;
  height: 287px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center;
  background-size: contain;
}

.banner__header {
  width: 172px;
  margin: 0 auto;
  font-family: $font-light;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.banner__header--long {
  width: 230px;
  text-indent: 3px;
}

@media (min-width: $mobile) and (min-resolution: $retina-dpi) and (min-resolution: $retina-ppx) {
  .banner__hand-picture::after {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: contain;
  }

  .banner {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet) {
  .banner {
    position: relative;
    margin-top: -109px;
    padding: 160px 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
  }

  .banner--gallery {
    padding-top: 179px;
    padding-bottom: 141px;
  }

  .banner__inner-container {
    width: 660px;
    margin: 0 auto;
    position: relative;
  }

  .banner--form {
    padding-top: 180px;
    padding-bottom: 81px;
  }

  .banner__hand-picture {
    padding-top: 407px;
  }

  .banner__hand-picture::after {
    bottom: -160px;
    left: -19px;
    width: 700px;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: contain;
  }

  .banner__header {
    width: 355px;
    font-size: 50px;
    line-height: 59px;
  }

  .banner__header--long {
    width: 500px;
  }
}

@media (min-width: $tablet) and (min-resolution: $retina-dpi) and (min-resolution: $retina-ppx) {
  .banner__hand-picture::after {
    background-image: url("../img/iphone-hand-tablet@2x.png");
    background-size: contain;
  }

  .banner {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}

@media (min-width: $desktop) {
  .banner {
    margin-top: -110px;
    padding-top: 241px;
    padding-bottom: 205px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .banner--form {
    padding-top: 174px;
    padding-bottom: 102px;
  }

  .banner__header--long {
    width: 800px;
  }

  .banner__inner-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .banner__hand-picture::after {
    width: 1050px;
    height: 645px;
    bottom: -206px;
    left: 150px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: contain;
  }

  .banner--gallery {
    padding-top: 175px;
    padding-bottom: 100px;
  }
}

@media (min-width: $desktop) and (min-resolution: $retina-dpi) and (min-resolution: $retina-ppx) {
  .banner__hand-picture::after {
    background-image: url("../img/iphone-hand-desktop@2x.png");
    background-size: contain;
  }

  .banner {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
