.btn {
  width: 280px;
  margin: 0 auto;
  border: 3px solid;
  border-radius: 20px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  &--post {
    display: block;
    padding: 15px 0;
    color: $pink-text;
    background-color: #f2f2f2;
    border: 3px solid #d22856;
    border-radius: 30px;
  }

  &--disabled {
    display: block;
    padding: 15px 10px;
    margin-top: 12px;
    color: #dddfe0;
    border-color: #dddfe0;
    background-color: transparent;
  }

  &--send {
    display: block;
    margin: 29px auto;
    margin-bottom: 37px;
    padding: 19px 43px;
    color: #ffffff;
    background-color: #2aab6d;
    border: 3px solid #2aab6d;
    border-radius: 0px;
    text-transform: uppercase;
  }
  &--download {
    padding: 16px 0;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 55px;
    background: transparent;
  }
}

@media(min-width:$tablet) {
  .btn {
    &--post {
      width: 260px;
      margin-left: 38px;
      margin-top: -52px;
    }
    &--disabled {
      width: 260px;
      margin-top: 25px;
      margin-left: 37px;
    }

    &--send {
      width: 300px;
      margin: 0px;
      padding: 20px 53px;
    }

    &--download {
      margin-top: 32px;
      width: 297px;
    }
  }
}

@media(min-width:$desktop) {
  .btn {
    &--post {
      float: left;
      width: 183px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 10px;
    }

    &--disabled {
      float: right;
      width: 183px;
      margin-right: 0px;
      margin-left: 22px;
      margin-top: 0px;
    }

    &--send {
      font-family: $font-bold;
    }

    &--download {
      width: 300px;
      margin-top: 54px;
      padding: 13px 10px;
      font-family: $font-bold;
      font-size: 21px;
      line-height: 21px;
    }
  }
}
