.container {
  margin: 0 auto;
  padding: 0 20px;
}

.container--grey {
  background-color: #f2f2f2;
}

@media (min-width: $tablet) {
  .container--grey {
    background-color: transparent;
  }
}

@media (min-width: $desktop) {
  .container {
    padding: 0;
    margin: 0;
  }
}
