.control-bar {
  display: none;
  position: absolute;
  width: 320px;
  left: -45px;
  border-bottom: 1px solid #dddfe0;
  .control-bar__full {
    display: none;
    width: 240px;
    height: 2px;
    margin: 35px auto;
    background-color: #000000;
  }

  .control-bar__thumb {
    position: absolute;
    display: none;
    width: 15px;
    height: 15px;
    border: 2px solid #d22856;
    border-radius: 50%;
    background-color: #f2f2f2;
  }
}

.control-bar--cut {
  display: block;
  .control-bar__full {
    display: block;
  }

  .control-bar__thumb {
    top: 29px;
    right: 68px;
    display: block;
    background-color: #d22856;
  }
}
