.filters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 42px;
  padding-bottom: 75px;
}

.filters__inner {
  position: relative;
}

.filters__option {
  width: 45px;
  height: 45px;
}

.filters__cut {
  margin-left: 16px;
  background: url("../img/icon-editor-crop.svg") no-repeat center;
  background-size: 45px;
  border: none;
}

.filters__color {
  margin-top: 3px;
  background: url("../img/icon-editor-fill.svg") no-repeat center;
  background-size: 51px 45px;
  border: none;
}

.filters__contrast {
  margin-right: 18px;
  background: url(../../img/icon-editor-contrast.svg) no-repeat center;
  background-size: 33px;
  border: none;
}

@media(min-width:$tablet) {
  .filters {
    flex-direction: column;
    padding-top: 0px;
    padding-left: 26px;
  }

  .filters__inner {
    padding-bottom: 31px;
  }

  .filters__option {
    display: block;
  }

  .filters__contrast,
  .filters__color,
  .filters__cut {
    margin-left: 0px;
    background-size: 22px;
    padding: 20px 10px;
  }

  .filters__cut {
    height: 37px;
    width: 44px;
  }

  .filters__color {
    margin-top: 0px;
  }

  .filters__contrast {
    width: 49px;
    height: 31px;
    padding: 16px;
    background-size: 17px;
  }
}

@media(min-width:$desktop) {
  .filters {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    margin: 0;
    padding-left: 0px;
  }

  .filters__contrast,
  .filters__color,
  .filters__cut {
    background-size: 45px;
    padding: 20px 0px;
  }

  .filters__contrast {
    padding: 15px 0px;
    background-size: 32px;
  }
}
