.form__text {
  width: 280px;
  padding-top: 46px;
  padding-bottom: 34px;
  margin: 0 auto;
  font-size: 14px;
  font-family: $font-plain;
  line-height: 30px;
  color: $dark-text;
  text-align: center;
}

.form__text--pink {
  width: 225px;
  padding-top: 37px;
  padding-bottom: 21px;
  text-transform: uppercase;
  color: $pink-text;
  line-height: 18px;
}

.form__desc {
  display: block;
  font-family: $font-plain;
  font-size: 14px;
  line-height: 30px;
  color: $dark-text;
  text-align: center;
  text-transform: uppercase;
}

.form {
  fieldset {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 15px;
  }

  input:hover {
    border-color: $dark-text;
  }

  input:focus {
    outline-color: $pink-text;
  }
}

.form__text--invisible {
  display: none;
}

.form__desc--invisible {
  display: none;
}

.form__send {
  width: 280px;
  margin: 0 auto;
  padding-top: 29px;

  .form__desc {
    padding-top: 37px;
  }
}

@media (min-width: $tablet) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form fieldset {
    padding: 0;
    padding-top: 35px;
  }

  .form__text {
    display: block;
    width: 510px;
    padding-top: 92px;
    padding-bottom: 35px;
    font-size: 18px;

    span {
      display: inline;
    }
  }

  .form__send {
    display: flex;
    justify-content: space-between;
    width: 620px;
    padding-top: 67px;
    padding-bottom: 46px;
    order: 6;

    .form__desc {
      padding-top: 18px;
    }

    .form__text {
      display: inline;
    }
  }
}

@media (min-width: $desktop) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .form__text {
    width: 795px;
    padding-top: 93px;
  }

  .form__send {
    width: 940px;
    padding-top: 63px;
    padding-bottom: 30px;
  }

  .form__desc--invisible {
    display: inline;
  }
}
