.gallery__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery__desc {
  width: 250px;
  margin: 0 auto;
  padding: 45px 0;
  font-family: $font-plain;
  color: $dark-text;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  &--bottom {
    width: 255px;
    padding-top: 21px;
    padding-bottom: 42px;
  }
}

@media(min-width:$tablet) {
  .gallery__desc {
    padding-top: 94px;
    width: 494px;
    font-size: 18px;
  }
  .gallery__inner {
    width: $tablet;
    margin: 0 auto;
  }
  .gallery__desc--bottom {
    padding-top: 45px;
    padding-bottom: 70px;
  }
}

@media(min-width:$desktop) {
  .gallery__inner {
    width: 940px;
    margin: 0 auto;
  }

  .gallery__desc {
    width: 600px;
    padding-top: 93px;
    padding-bottom: 87px;
    &--bottom {
      padding-top: 45px;
      padding-bottom: 69px;
    }
  }
}
