.index-footer__contacts {
  position: relative;
  background-color: #ffffff;
  z-index: 2;

  span {
    display: block;
    font-family: $font-bold;
    font-size: 18px;
    line-height: 26px;
    color: $dark-text;
    text-align: center;
  }
}

.index-footer__text {
  width: 280px;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 14px;
  font-family: $font-light;
  color: $dark-text;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.index-footer__phone,
.index-footer__email,
.index-footer__visit {
  margin: 0;
  padding-top: 19px;
  font-family: $font-light;
  color: $pink-text;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}

.index-footer__phone span {
  line-height: 25px;
}

.index-footer__email a {
  color: $pink-text;
  text-decoration: none;
  line-height: 34px;
}

.index-footer__map {
  height: 200px;
  position: relative;
  overflow: hidden;

  iframe {
    width: 100%;
  }
}

.index-footer > .page-footer {
  display: none;
}

.index-footer__visit {
  padding-top: 21px;
  padding-bottom: 40px;
  width: 250px;
  margin: 0 auto;
}

.index-footer__map::after {
  content: "";
  position: absolute;
  bottom: 164px;
  left: 2px;
  width: 320px;
  height: 40px;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat center;
  background-size: contain;
}

@media (min-width: $tablet) {
  .index-footer > .page-footer {
    display: block;
    position: relative;
    background-color: #ffffff;
  }

  .index-footer__text {
    width: 500px;
    margin: 0 auto;
    padding: 44px 0;
    padding-bottom: 23px;
    font-size: 40px;
    line-height: 48px;
  }

  .index-footer__phone {
    padding-left: 22px;
  }

  .index-footer__email {
    padding-right: 5px;
  }

  .index-footer__visit {
    padding-top: 43px;
    padding-bottom: 31px;

    span {
      padding-bottom: 4px;
    }
  }

  .index-footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;

    span {
      padding-bottom: 2px;
    }
  }

  .index-footer__map {
    height: 375px;

    iframe {
      height: 375px;
    }

    &::after {
      bottom: 307px;
      left: -3px;
      width: 657px;
      height: 70px;
    }
  }
}

@media (min-width: $desktop) {
  .index-footer__inner {
    width: 880px;
    padding-bottom: 20px;
  }

  .index-footer__text {
    padding-top: 65px;
    padding-bottom: 54px;
    font-size: 50px;
    line-height: 59px;
  }

  .index-footer__email {
    padding: 0;
    margin: 0;
    order: 3;

    span {
      padding-bottom: 22px;
    }
  }

  .index-footer__visit {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    order: 2;

    span {
      padding-bottom: 22px;
    }
  }

  .index-footer__phone {
    padding: 0;
    padding-left: 18px;

    span {
      padding-bottom: 22px;
    }
  }

  .index-footer__map {
    height: 506px;

    iframe {
      height: 507px;
    }

    &::after {
      bottom: 353px;
      left: 50%;
      margin-left: -615px;
      width: 1230px;
      height: 180px;
    }
  }
}
