.main-nav {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-nav__toggle {
  float: right;
  width: 50px;
  height: 34px;
  margin-top: 16px;
  margin-right: 7px;
  background: url("../img/icon-menu-cross.svg") no-repeat center;
  background-size: 24px;
  border: none;
}

.main-nav__toggle--close {
  float: right;
  width: 50px;
  height: 34px;
  margin-top: 16px;
  margin-right: 20px;
  background: url("../img/icon-menu-burger.svg") no-repeat center;
  background-size: 50px;
  border: none;
}

@media(min-width:$tablet) {
  .main-nav__toggle {
    margin-top: 38px;
  }
}

@media (min-width:$desktop) {
  .main-nav {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    .main-nav__wrapper {
      display: flex;
    }
  }

  .main-nav__inner {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main-nav__toggle {
    display: none;
  }
}
