.name {
  padding-bottom: 10px;
}

.name__user-name {
  width: 280px;
  border: none;

  label {
    display: block;
    padding-left: 23px;
    padding-bottom: 4px;
    font-family: $font-plain;
    font-size: 14px;
    line-height: 30px;
    color: $pink-text;
    text-transform: uppercase;
  }

  input {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 15px;
    padding-left: 21px;
    box-sizing: border-box;

    @include form-typography;
    line-height: 30px;
    border: $form-border;
  }

  span {
    display: none;
  }
}

.name__data {
  margin: 0 auto;
  padding-bottom: 17px;
}

@media (min-width: $tablet) {
  .name {
    order: 1;
  }

  .name__user-name {
    width: 620px;
    padding-bottom: 0;
    padding-top: 0;

    span {
      display: inline;
    }
  }

  .name__data {
    display: flex;
    padding-bottom: 52px;

    label {
      align-self: flex-end;
      padding-right: 18px;
      padding-left: 0;
      padding-bottom: 16px;
    }

    input {
      width: 100%;
    }
  }

  .name__data:last-of-type {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop) {
  .name {
    margin: 0;

    .name__user-name {
      width: 435px;
      padding-top: 47px;
    }

    label {
      padding-right: 20px;
      padding-bottom: 14px;
    }
  }

  .name__data {
    padding-bottom: 52px;
  }
}
