.nav-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

.nav-list--close {
  display: none;
}

.nav-list__item {
  padding: 15px 0;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #485461;
  border-bottom-color: #000000;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.nav-list__item a:hover,
.nav-list__item a:focus {
  color: $pink-text;
}

.nav-list__item a:active {
  opacity: 0.5;
}

@media (min-width: $desktop) {
  .nav-list {
    flex-direction: row;
    flex-basis: 620px;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
  }

  .nav-list__item {
    padding-bottom: 45px;
    font-family: $font-plain;
    background-color: transparent;
    border: none;
    line-height: 18px;
    text-transform: capitalize;
  }

  .nav-list__item--active a {
    border-bottom: 2px solid #ffffff;
  }

  .nav-list__item a:active {
    opacity: 1;
    color: $grey-text;
  }
}
