.page-header {
  font-family: $font-bold;
}

.page-header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 92px;
  height: 23px;
  padding-top: 21px;
  padding-left: 12px;
  padding-bottom: 49px;
}
