.page-header {
  font-family: $font-bold;
}

.page-header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 92px;
  height: 23px;
  padding-top: 21px;
  padding-left: 12px;
  padding-bottom: 49px;
}

.page-header__logo:focus {
  background: url("../img/logo-pink-hover-mobile.svg") no-repeat 21px 20px;
}

.page-header__logo:active {
  opacity: 0.5;
}

@media (min-width: $tablet) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 84px;
    padding-left: 20px;

    img {
      width: 148px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop) {
  .page-header__logo {
    padding-left: 0;

    img {
      width: 146px;
      height: 42px;
    }
  }
}
