.page-footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;
  margin: auto;
}

.page-footer__logo {
  display: block;
  margin: 0px auto;
  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 42px;
  margin: 0 auto;
}

.page-footer__copyright {
  position: relative;
  margin: auto;
  padding-right: 41px;
  font-family: $font-plain;
  font-size: 14px;
  line-height: 18px;
  color: $dark-text;
  text-align: center;
  a {
      position: absolute;
      top: -8px;
      right: -3px;
      background-image: url(../img/logo-htmlacademy.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 33px;
      height: 37px;
  }
}

.page-footer {
  padding: 42px 0;
}

.page-footer--form {
  padding: 53px 0;
}

@media(min-width:$tablet) {
  .page-footer {
    padding: 37px 0;
  }

  .page-footer__inner {
    width: 620px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 0px;
    background-position: 0px -3px;
  }

  .page-footer__copyright {
    margin: 0px;
    padding-top: 18px;
    padding-right: 42px;
    a {
      top: 9px;
    }
  }
}

@media(min-width:$desktop) {
  .page-footer--index {
    padding: 11px 0;
  }

  .page-footer--form {
    padding: 33px 0;
    .page-footer__inner {
      padding-top: 0px;
    }
  }

  .page-footer__inner {
    width: 940px;
    margin: 0 auto;
    padding-top: 56px;
  }

  .page-footer__logo {
    background-image: url("../img/logo-pink-blue-desktop.svg");
    width: 144px;
    height: 52px;
  }

  .page-footer__copyright {
    position: relative;
    padding-top: 20px;
    padding-right: 42px;
    font-size: 18px;
    line-height: 30px;
    a {
      top: 19px;
    right: -4px;
      width: 33px;
      height: 37px;
    }
  }
}
