.testimonials__name {
  display: block;
  padding-bottom: 18px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 20px;
}

.testimonials__text {
  margin: 0 auto;
  padding-bottom: 33px;
  font-family: $font-plain;
  font-size: 14px;
  line-height: 30px;
}

.testimonials__item:not(:first-child) {
  display: none;
}

.testimonials {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 47px;
  background-color: #ffffff;
  text-align: center;
  z-index: 2;
}

.testimonials::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -87px;
  width: 100%;
  height: 67px;
  margin-left: -50%;
  background: url("../img/bg-triangle-white.svg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.testimonials__detailes {
  display: none;
}

@media (min-width: $tablet) {
  .testimonials {
    margin: 0 auto;
    padding-top: 75px;
  }

  .testimonials::after {
    height: 79px;
    bottom: -85px;
    width: 100%;
  }

  .testimonials__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    padding-bottom: 34px;
  }

  .testimonials__name {
    padding-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .testimonials__text {
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
  }

  .testimonials__detailes {
    display: block;
    padding-top: 2px;
    font-family: $font-plain;
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .testimonials {
    position: relative;
    padding-top: 186px;
    padding-bottom: 8px;

    &::before {
      content: "";
      position: absolute;
      top: 72px;
      left: 50%;
      width: 79px;
      height: 63px;
      margin-left: -39px;
      background: url("../img/icon-quotes.svg") no-repeat center;
      background-size: contain;
    }

    &::after {
      bottom: -90px;
      width: 100%;
      height: 101px;
    }
  }

  .testimonials__item {
    width: 713px;
    margin: 0 auto;
  }

  .testimonials__name {
    padding-top: 1px;
    font-size: 24px;
    line-height: 30px;
  }

  .testimonials__text,
  .testimonials__detailes {
    font-size: 18px;
    line-height: 30px;
  }

  .testimonials__list {
    position: relative;
  }

  .testimonials__list::before {
    content: "";
    position: absolute;
    left: 106px;
    top: 23px;
    width:27px;
    height: 49px;
    background: url("../img/icon-review-arrow-left.svg") no-repeat center;
  }

  .testimonials__list::after{
    content: "";
    position: absolute;
    right: 106px;
    top: 23px;
    width:27px;
    height: 49px;
    background: url("../img/icon-review-arrow-right.svg") no-repeat center;
  }
}
